#player {
    width: 800px;
    height: 600px;
}

.video-container{
    width: 100%;
    height: 100%
}

.bottom-controls {
    background-color: black;
    display: flex;
}
  
.bottom-controls button {
    border: none;
    margin: 0;
    background-color: transparent;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
  
.bottom-controls button i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.left-buttons {
    display: flex;
}