.btn-container {
    background-color: black;
}
  
.btn {
    border: none;
}
  
.btn--play {
    background-color: #11ffee00;
    color: white;
}

.btn--stop {
    background-color: #11ffee00;
    color: white;
}